*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #051a30 , #091220);
}




.searchbox{
    background-color: white;
    width: 60%;
    align-self: center;
    margin: 20px 0;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbox img{
    width: 20px;
    height: 20px;

}

.searchbox input{
    border: none;
    outline: none;
    width: 90%;
    padding: 5px;
    font-size: 16px;
}